.data-view {
    width: 100%;
}

.data-view-grid {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(4, 1fr);

    align-items: center;
    justify-items: center;
}

.data-view-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}